* {
    box-sizing:border-box;
    text-decoration:none;
    font-size:20px;
    color:black;
}

body {
    margin:0;
    padding:0;
}

a {
    display:flex;
    justify-content: center;
    max-width:100%;
    margin-bottom:2rem;
} 

img {
    max-width:80%;
    border-radius:10px;
}

.hero {
    padding:5rem;
}

.wrapper {
    width:80%;
    margin:0 auto;
    display:flex;
    align-items:center;
}

 .boxes {
    width:clamp(37rem, 100%, 140rem);
    height:100%;
}



